* {
  margin: 0;
  padding: 0;
  font-family: "arial";
}

.header {
  display: none;
}

.intro h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 10%;
}
.intro p {
  font-size: 70px;
  width: 80%;
  font-weight: bold;
  margin: auto;
}
.intro img {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h3 {
  margin-top: 40%;
  font-size: 35px;
  font-weight: bold;
}
.about img {
  width: 70%;
  margin-top: 5%;
  padding-bottom: 10%;
}
.about p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
}
.about .about__header--hidden {
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h4 {
  margin-top: 30%;
  font-size: 35px;
  font-style: bold;
}
.skills p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  width: 70%;
  text-align: center;
  margin-bottom: 15%;
}

.icons {
  display: grid;
  grid-template-columns: 130px 130px 130px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
}
.icons .icons__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h5 {
  margin-top: 30%;
  margin-bottom: 10%;
  font-size: 35px;
  font-weight: bold;
}
.projects .projects__box {
  width: 90%;
  margin-bottom: 15%;
}
.projects .projects__box img {
  width: 90%;
  margin-left: 5%;
}
.projects .projects__box h6 {
  margin-top: 5%;
  font-size: 20px;
  margin-left: 5%;
}
.projects .projects__box h7 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 5%;
}
.projects .projects__box p {
  margin-top: 5%;
  font-size: 20px;
  width: 90%;
  line-height: 1.5;
  margin-left: 5%;
}
.projects .projects__box .project__button {
  margin-left: 5%;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 5%;
}
.projects .project__box--hidden {
  display: none;
}

footer {
  background-color: black;
  padding: 80px 80px;
  display: grid;
  grid-template-areas: "icon icon icon" "email email email";
  justify-content: center;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .footer__image {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  width: 50%;
  height: 50%;
  grid-area: icon;
}
footer .footer__email {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  grid-area: email;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header h1 {
    font-size: 17px;
    margin: 5%;
  }
  .header nav {
    margin: 5%;
  }
  .header nav .header__button {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    border: 2px solid white;
  }
  .header nav .header__button:hover {
    border: 2px solid black;
    border-radius: 5px;
  }
  .intro {
    display: grid;
    grid-template-areas: "intro pic" "about pic";
  }
  .intro h2 {
    margin-top: 10%;
    margin-bottom: 0;
    grid-area: intro;
  }
  .intro p {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 0;
    grid-area: about;
  }
  .intro img {
    display: block;
    width: 90%;
    grid-area: pic;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 600px;
    margin-top: 12%;
  }
  .about h3 {
    display: none;
  }
  .about img {
    width: 30%;
    margin-left: 10%;
  }
  .about .about__container {
    width: 60%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .about .about__container .about__header--hidden {
    display: block;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about .about__container p {
    font-size: 15px;
    font-weight: 500;
    margin-right: 5%;
  }
  .skills {
    max-height: 230px;
  }
  .skills h4 {
    margin: 0;
  }
  .skills p {
    margin-top: 5%;
    width: 40%;
    font-size: 15px;
    font-weight: 500;
  }
  .icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 80%;
    margin: auto;
  }
  .icons .icons__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .icons .icons__boxes .icons__image {
    width: 60px;
    height: 60px;
  }
  .icons .icons__boxes p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */